/* 
********
RESET
********
 */

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }


/* 
********
TYPOGRAPHY
********
*/

/* #region */

body {
   font-family: 'Roboto', sans-serif;
}

main .box .tags .tag {
   font-size: 14px;
}

main .box .brand {
   font-size: 14px;
}

main .box .tags .tag, 
main .box .product-name,
main .box .price .current-price,
header nav .categories {
   font-weight: 700;
}

main .box .price {
   font-size: 13px;
}

main .box .price .current-price {
   color: red;
}

main .box .price .original-price {
   text-decoration: line-through;
}

footer, 
header, 
main .box .tags .tag {
   color: white;
} 

footer h3 {
   font-size: 17px;
}

footer .legal-docs {
   font-size: 13px;
}

footer h4 {
   font-size: 14px;
}

footer .social-links {
   font-size: 19px;
}

/* #endregion */

/* 
********
COMMON
********
*/

/* #region */


.container {
   max-width: 1500px;
   margin: 0 auto;
}

.layout-container {
   max-width: 1375px;
   margin: 0 auto;
}

.flexbox {
   display: flex;
}

ul {
   list-style: none;
}

/* #endregion */

/* 
********
HEADER
********
*/

/* #region */

header {
   background-color: #ff6900;
}

header .layout-container {
   justify-content: space-between;
   padding: 20px 0;
}

header .flexbox {
   align-items: center;
}

header .categories, header .icons {
   width: 20%;
}

header .categories {
   gap: 10px
}

header .icons {
   gap: 9px;
}

header .logo {
   max-width: 135px;
}

header .logo img {
   width: 100%;
}

header {
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
}

/* #endregion */

/* 
********
MAIN
********
*/

/* #region */

main .container.main {
   padding: 134px 30px;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

main .box {
   width: 445px;
}

/* Immagine */

main .box .image-box {
   position: relative;
}

main .box img {
   width: 100%;
}

main .box .alt-img {
   position: absolute;
   left: 0;
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.4s, visibility 0.4s;
}

main .box .image-box:hover .alt-img {
   opacity: 1;
   visibility: visible;
}

main .box .heart {
   font-family: initial;
   background-color: white;
   width: 50px;
   font-size: 30px;
   justify-content: center;
   align-items: center;
   padding-top: 9px;
   padding-bottom: 5px;
   position: absolute;
   right: 0;
   top: 10px;
}

main .box .heart:hover {
   color: red;
}

main .box .tags {
   position: absolute;
   bottom: 42px;
}

main .box .tags .tag {
   display: inline-block;
   padding: 6px 11px;
}

main .box .tags .sconto {
   background-color: red;
}

main .box .tags .sostenibile {
   background-color: green;
}

/* #endregion */

/* 
********
FOOTER
********
*/

/* #region */

footer {
   background-color: #1a1a1a;
   border-bottom: 1px solid white;
}

footer .layout-container {
   padding: 30px 0 30px;
   justify-content: space-between;
}

footer .legal-docs {
   gap: 11px;
}

footer h3 {
   margin-bottom: 10px;
}

footer .social-links {
   gap: 9px;
}

footer h4 {
   margin-bottom: 8px;
}

/* #endregion */